<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <label> BIENVENIDO </label>
    <br />
    <label>
        NOMBRE:
        <%= locals.user.name%>
    </label>
    <br />
    <label>
        APELLIDO:
        <%= locals.user.lastName%>
    </label>
    <br />
    <label>
        EMAIL:
        <%= locals.user.email%>
    </label>
</body>

</html>