<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/Login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/login" method="post">
        <div>
            <label>Email</label>
            <input type="text" name="email" /><br />
            <label>Contraseña</label>
            <input type="password" name="password" /><br />
            <label>recuerdame</label>
            <input type="checkbox" name="rememberme" /><br />
            <br />
            <div>
                <button type="submit">Ingresar</button>
                <button type="reset">Cancelar</button>
            </div>
        </div>
    </form>
</body>

</html>